body {
    color: rgb(237, 233, 212);
    text-decoration: none;
    font-size: 7rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    background-color: #050505;
    margin: 0px;
}
.title {
    text-align: center;
}
.photos {
    display: grid;
    grid-template-columns: repeat(1, auto);
}
img {
    padding: 1rem;
    height: 90%;
}