body {
    color: rgb(237, 233, 212);
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    background-color: #050505;
    margin: 0px;
}
.title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
#Collage3>img {
    width: 100%;
    display: block;
    padding: 0 0 0.3rem 0;
}
#Collage2>img {
    width: 100%;
    display: block;
    padding: 0 0 0.4rem 0;
}
#Collage>img {
    width: 100%;
    display: block;
    padding: 0 0 0.4rem 0;
}
#Coll>img {
    width: 100%;
    display: block;
    padding: 0 0 1.5rem 0;
}