.SprdMain .sprd-header-container .sprd-social-bar {
    display: none;
}

main {
    margin-top: 3rem;
}

a:hover {
    transform: none;
}
#sprd-footer {
    background-color: #011313;
}

@media screen and (min-width: 1000px) {
    main {
        margin-top: 5rem;
    }
}