body {
    color: rgb(237, 233, 212);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    background-color: #000000;
}
main {
    height: 100vh;
}
.title h1 {
    font-weight: 900;
    font-size: 14vw;
    margin: 0;
    color: #da3832;
}
.date h2 {
    font-weight: 700;
    font-size: 3.6vw;
    margin: 0rem 1rem 0rem 1rem;
    color: #454545;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
}
strong {
    font-weight: 700;
    color: #da3832;
}
.info p {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1rem;
    text-align: justify;
    text-justify: inter-word;
}


.filters {
    display: flex;
    height: 12vh;
    margin: 0vh 10vw 0vh 10vw;
    align-items: center;
    justify-content: center;
}
.filter_buttons {
    margin: 5rem 5rem 5rem 5rem;
    display: grid;
    grid-template-areas: "1 2";
    grid-gap: 2rem;
    justify-content: center;
}
.button {
    background-color: #262626;
    height: 5vh;
    width: 5vh;
    border: none;
    border-radius: 1.3vh;
    padding: 1vh;
    font-weight: 300;
    font-size: 2.5vh;
    line-height: 4.7vh;
}
.button:hover {
    transform: none;
    background-color: #313131;
}
.button>svg {
    height: 100%;
    width: 100%;
}
.selected {
    background-color: #4c4c4c;
    height: 5vh;
    width: 5vh;
    border: none;
    border-radius: 1.3vh;
    padding: 1vh;
    font-weight: 300;
    font-size: 2.5vh;
    line-height: 4.7vh;
}
.selected:hover {
    transform: none;
    background-color: #555555;
}
.selected>svg {
    height: 100%;
    width: 100%;
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100vw;
}
.viewport {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    container-type: inline-size;
}
.previous {
    width: 8rem;
    display: flex;
    align-items: center;
}
.p-button {
    background-color: #1a1a1a;
    border: none;
    border-radius: 100rem;
    width: 3rem;
    height: 3rem;
    padding: 1rem 1.1rem 1rem 0.9rem;
    margin-left: 0.7rem;
}
.p-button:hover {
    transform: none;
    background-color: #252525;
}
.p-button>svg {
    height: 100%;
    width: 100%;
    transform: scaleX(-1);
}
.art {
    width: calc(100vw);
}
.art>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.next {
    width: 8rem;
    display: flex;
    align-items: center;
}
.n-button {
    background-color: #1a1a1a;
    border: none;
    border-radius: 100rem;
    width: 3rem;
    height: 3rem;
    padding: 1rem 0.9rem 1rem 1.1rem;
    margin-left: 0.7rem;
}
.n-button:hover {
    transform: none;
    background-color: #252525;
}
.n-button>svg {
    height: 100%;
    width: 100%;
}


.name {
    display: flex;
    flex-wrap: nowrap;;
    flex-shrink: 0;
    container-type: inline-size;
    position: relative;
}
.title {
    width: 56vw;
    margin: 0vw 0vw 0vw 22vw;
    display: inline;
    max-height: 15vh;
}
.date {
    padding-right: 3.2rem;
    width: 22vw;
    display: inline;
    max-height: 15vh;
    position: relative;
}
.info {
    display: flex;
    flex-wrap: nowrap;
}
.properties {
    padding: 0.9rem 3.2rem 0rem 3.2rem;
    width: 50%;
}
.description {
    width: 50%;
    padding: 0rem 3.2rem 0rem 0rem;
}
.description>p {
    line-height: normal;
}

@container (min-width: 600px) {
    .title h1 {
      font-size: 6rem;
    }
    .art {
        max-height: 73vh;
    }
}
@container (min-width: 1800px) {
    .date h2 {
        font-size: 3rem;
    }
}
@media (min-width: 320px) and (max-width: 999px) {
    .filters {
        margin-top: 4vh;
    }
    .content-wrapper {
        height: 84vh;
    }
}