body {
  color: rgb(237, 233, 212);
  text-decoration: none;
  font-size: 4rem;
  font-weight: 900;
  background-color: #011313;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.container {
  max-width: 110rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}
.container>a {
  transition: 0.2s ease-out;
  height: 20rem;
  width: 20rem;
}
.container>a:hover {
  transform: scale(1.03);
  box-shadow: 0 0 2rem 0.5rem #00000094;
}
a>img {
  width: 20rem;
  object-fit: cover;
  height: 20rem;
}
