body {
    margin: 0 max(0px,round(50vw - (800px/2),1px));
    padding-top: 2rem;
    max-width: 800px;
    max-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}

nav {
    display: flex;
    gap: 0.7rem;
}

a>svg {
    fill: rgb(255, 255, 255);
    width: 1rem;
}

a {
    text-decoration: none;
}

main {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

div, .cs-hr {
    margin-bottom: 1rem;
}

footer {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.quiz {
    display: flex;
    gap: 0.5rem;
}